/*
File: style.css
Author: Kukta Tamara
Copyright: 2023, Kukta Tamara
Group: SZOFT I-1-E
Date: 2023-03-28
Github: https://github.com/KTamara86/
Licenc: GNU GPL
*/

html{
    font-size: 12px;
}

body{
    background-color: whitesmoke;
    font-family: sans-serif;
}

.container{
    max-width: 1000px;
}

.logo{
    height: 150x;
    width: 150px;
    float:left;
    padding-top: 30px;
}

.id{
    text-align: right;
    color: grey;
}

.container h1{
    font-style:italic;
    font-size: 25px ;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

td, th {
    width: 20%;
    text-align: center;
}

.ab{
    text-align: left;
    color: grey;
}